/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.title-input {
	background: none;
	outline: none;
	border: none;
	text-align: center;
	margin: 0 !important;
	&:focus {
		outline: none;
	}
}

.components-base-control__field {
	margin-bottom: 0 !important;
}

.components-placeholder {
	height: 60vh;
}

.components-placeholder__fieldset {
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

.components-circular-option-picker {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
}
