/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block-container{
	margin-left: 0;
	margin-right: 0;
	max-width: none;
	height: 80vh;
	width: 100%;
	display: flex;
    justify-content: center;
	position: relative;
    align-items: center;
}


.image-preview {
	height: 80vh;
	width: 100%;
}

.color-container {
	height: 80vh;
	width: 100%;
	display: flex;
    justify-content: center;
	position: relative;
    align-items: center;
}

.content-container {
	position:absolute;
	z-index: 100;
	text-align: center;
}
