/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block-container {
	margin-left: 0 !important;
	margin-right: 0 !important;
	max-width: none !important;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
}

.color-container {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
}

.content-container {
	position: absolute;
	z-index: 100;
	text-align: center;
}

input[type="radio"] {
	display: none !important;
}
